
<table id="companiesTable" class="table table-striped">
  <tr>
    <th>Tax identification</th>
    <th>Address</th>
    <th>Name</th>
    <th>Pension insurance</th>
    <th>Health insurance</th>
    <th></th>
  </tr>

  <tr *ngFor="let company of companies">
    <td *ngIf="!company.editMode">{{company.taxIdentification}}</td>
    <td *ngIf="company.editMode">
      <label><input [(ngModel)]="company.editedCompany.taxIdentification"
                    type="text" class="form-control" name="taxIdentification"></label></td>

    <td *ngIf="!company.editMode">{{company.address}}</td>
    <td *ngIf="company.editMode">
      <label><input [(ngModel)]="company.editedCompany.address"
                    type="text" class="form-control" name="address"></label></td>

    <td *ngIf="!company.editMode">{{company.name}}</td>
    <td *ngIf="company.editMode">
      <label><input [(ngModel)]="company.editedCompany.name"
                    type="text" class="form-control" name="name"></label></td>

    <td *ngIf="!company.editMode">{{company.pensionInsurance}}</td>
    <td *ngIf="company.editMode">
      <label><input [(ngModel)]="company.editedCompany.pensionInsurance"
                    type="text" class="form-control" name="pensionInsurance"></label></td>

    <td *ngIf="!company.editMode">{{company.healthInsurance}}</td>
    <td *ngIf="company.editMode">
      <label><input [(ngModel)]="company.editedCompany.healthInsurance"
                    type="text" class="form-control" name="healthInsurance"></label></td>

    <td>
      <button *ngIf="!company.editMode"
              (click)="deleteCompany(company)" class="btn btn-danger"> Delete </button>
      <span *ngIf="!company.editMode">&nbsp;</span>
      <button *ngIf="!company.editMode"
              (click)="triggerUpdate(company)" class="btn btn-secondary"> Edit </button>

      <button *ngIf="company.editMode"
              (click)="updateCompany(company)" class="btn btn-success"> Update </button>
      <span *ngIf="company.editMode">&nbsp;</span>
      <button *ngIf="company.editMode" (click)="cancelCompanyUpdate(company)" class="btn btn-secondary"> Cancel </button>
    </td>
  </tr>


  <tr>
    <td><label><input [(ngModel)]="newCompany.taxIdentification"
                      type="text" class="form-control" name="taxIdentification"></label></td>
    <td><label><input [(ngModel)]="newCompany.address"
                      type="text" class="form-control" name="address"></label></td>
    <td><label><input [(ngModel)]="newCompany.name"
                      type="text" class="form-control" name="name"></label></td>
    <td><label><input [(ngModel)]="newCompany.pensionInsurance"
                      type="number" class="form-control" name="pensionInsurance"></label></td>
    <td><label><input [(ngModel)]="newCompany.healthInsurance"
                      type="number" class="form-control" name="healthInsurance"></label></td>
    <td><input (click)="addCompany()" type="button" class="btn btn-primary" value="Add company"></td>
  </tr>
</table>
