
<table id="companiesTable" class="table table-striped">
  <tr>
    <th>Tax identification</th>
    <th>Address</th>
    <th>Name</th>
    <th>Pension insurance</th>
    <th>Health insurance</th>
    <th></th>
  </tr>

  <tr *ngFor="let company of companies">
    <td>{{company.taxIdentification}}</td>
    <td>{{company.address}}</td>
    <td>{{company.name}}</td>
    <td>{{company.pensionInsurance}}</td>
    <td>{{company.healthInsurance}}</td>
    <td></td>
  </tr>

  <tr>
    <td><label><input [(ngModel)]="newCompany.taxIdentification" type="text" class="form-control" name="taxIdentification">
    </label></td>

    <td><label><input [(ngModel)]="newCompany.address" type="text" class="form-control" name="address">
    </label></td>

    <td><label><input [(ngModel)]="newCompany.name" type="text" class="form-control" name="name">
    </label></td>

    <td><label><input [(ngModel)]="newCompany.pensionInsurance" type="number" class="form-control" name="pensionInsurance">
    </label></td>

    <td><label><input [(ngModel)]="newCompany.healthInsurance" type="number" class="form-control" name="healthInsurance">
    </label></td>

    <td><input (click)="addCompany()" type="button" class="btn btn-primary" value="Add company"></td>
  </tr>
</table>
